@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/******************
****CSS 
*****************/

header nav img{
    width: 200px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/******************
****CSS GLOBALE
*****************/
.container{
    margin: 10px 50px;
}

body {
    font-family:"Inter", sans-serif;
    box-sizing: border-box;
    background: #f8fcff;
   
}

h1 h2{
    font-family: "DM Sans", sans-serif;
}

a{
    text-decoration: none;
}


/******************
****CSS Par class
*****************/

.header-content{
    display: flex;
    gap: 50px;
    align-items: center;
    
}


.bouton{
    background-color: #4DB369;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
}

.navbar {
    display: flex;
    gap: 15px;
    font-size: 15px;
    a{
        position: relative;
        color: #CBD1D5;
        
    }
    a:hover{
        transition: 0.2s;
        color: #4DB369;
    }
    a::before{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 2px;
    width: 100%;
    transition: 0.2s;
    background: #4DB369;
    border-radius: 30px;
    transform: scaleX(0);
    }
    a:hover:before{
        transform: scaleX(1)
    }

}


.barre-verte{
        background-color: #4DB369;
        height: 20px;
        width: 55%;
        align-items: center;
        border-radius: 10px;
        padding: 2px;
        font-size: 12px;
        font-weight: 700 !important;
        color: white !important;

        img{
            width: 4%;
        }
    }


.text-header{
    margin: 30px 0px;
    max-width: 45%;
    p{
        color: #CBD1D5;
        font-size: 15px;
        font-weight: 500;
    }

    h1{
        span{
            color: #4DB369;
        }
    }

}
.calculator{
    height: 300px;
    width: 450px;
    padding: 20px 20px;
    background-color: white;
    border: 1px solid #e0e4e7 ;
    border-radius: 25px;
    box-shadow: 150px -150px 500px 60px rgba(77, 179, 104, 0.301) , -200px 150px 500px 60px rgba(92, 173, 211, 0.301);

    ul{
        display: flex;
        gap: 50%;
        padding: 0 10px;
        margin: 0;
    }
    h2{
        text-align: center ;
        color: #4DB369;
        border-bottom: 1px solid #e0e4e7;
    }

    li{
        list-style: none;
        margin: 30px 0px;
        width: 100%;
    }  
}

.heading{
    font-weight: 500;
}

.skillbar{
    position:relative;
    background-color:#E4E9ED;
    width: 100%;
    height: 10px;

    padding: 2px;
    margin-top: 7px;
    border-radius: 10px;

    span{
        display: block;
        position: relative;
        height: 100%;
        border-radius: 10px;
        background-image: linear-gradient(rgba(92, 173, 211, 0.7) , rgba(77, 179, 104, 2.7) );
    }
}
.transport{
    width: 90%;
}
.industrie{
    width: 75%;
}
.agriculture{
    width: 65%;
}
.domestique{

}